.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  max-width: 80%;
  min-width: 320px;

  /* height: 150px; */
  background-color: #fff;
  color: #000;
  padding: 15px;
}
