@import "../shared/style/nullstyle.css";

body {
  background-color: #1c2022;
  color: white;
  height: 2000px;
}

#root {
  /* width: 100%; */

  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 10px;
}

/* ============================================================== */
/* ============================================================== */
/* ============================================================== */

.button {
  border: 1px solid #fff;
  padding: 1rem;
}

.info {
  font-size: 30px;
  text-transform: uppercase;
}
