.counter {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 0rem;
}

.buttons {
  display: flex;
  gap: 3rem;
}

.button {
  border: 1px solid white;
  padding: 1rem;
}

.items {
  padding: 3rem 0rem;
}

.item {
  padding: 1rem;
  border: 1px solid white;
  margin-bottom: 1rem;
}
